<!DOCTYPE html>
<html>
{% load static %}
<head>
  
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Escuela N° 51</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">
  <!-- fonts style -->
  <link href="{% static 'css/css-circular-prog-bar.css' %}" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />




  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">


</head>

<body>
  <div class="top_container">
    
{% include 'navbar.html' %}
              </ul>
            </div>
        </nav>
      </div>
    </header>
    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h2>
            El aprendizaje es como una torre, hay que ir construirlo paso a paso....
          </h2>
          <p>
            Si hiciésemos todas las cosas de las que somos capaces, nos asombraríamos (Thomas Edison)
          </p>
          
        </div>
        <div class="hero_img-container">
          <div>
            <img src="{% static 'images/hero.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end header section -->

<!-- #contenido que cambia-->



{% block ContenidoQueCambia %}
    

{% endblock ContenidoQueCambia %}

<!-- fin contenido que cambia-->

  <div class="common_style">

      <section class="info_section layout_padding-top">
        <div class="info_logo-box">
          <h2>
            Escuela N° 51
          </h2>
        </div>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    Direccion:                                                                             
                </h5>
               <p>
                Avenida Siempreviva 742 - S.C. de Bariloche
                <br>
                Tel. 2944-460153
                <br>
                E-Mail: escuelan51@educacion.com.ar 
               </p>
              </div>
             
          <div class="container">
              <div class="social_container">
                 
                  <div class="social-box">
                    <a href="">
                      <img src="{% static 'images/fb.png' %}" alt="">
                    </a>
      
                    <a href="">
                      <img src="{% static 'images/twitter.png' %}" alt="">
                    </a>
                    <a href="">
                      <img src="{% static 'images/linkedin.png' %}" alt="">
                    </a>
                    <a href="">
                      <img src="{% static 'images/instagram.png' %}" alt="">
                    </a>
                  </div>
                </div>
          </div>
        </section>
       

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2024 All Rights Reserved By
      <a>Pre entrega Mara Remezzano</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

 
</body>

</html>